{% extends 'admin/base.html.twig' %}

{% block title %}Administration des commentaires{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-5">
            Administration des commentaires
        </h1>

        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Date</td>
                    <td>Auteur</td>
                    <td>Commentaire</td>
                    <td>Note</td>
                    <td>Annonce</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for comment in comments %}
                    <tr>
                        <td>{{comment.id}}</td>
                        <td>{{comment.createdAt | date('d/m/Y')}}</td>
                        <td> <img class="avatar avatar-micro mr-2" src=" {{comment.author.picture}}" alt="Avatar de {{comment.author.fullName}}"> {{comment.author.fullName}} </td>
                        <td>{{comment.content | raw}}</td>
                        <td><span class="badge badge-dark rounded">{{comment.rating}}</span></td>
                        <td>{{comment.ad.title}}</td>
                        <td>
                            <a href="{{path('admin_comments_edit', {'id':comment.id})}}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                        <a href="{{path('admin_comments_delete', {'id': comment.id})}}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
